<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h3>Client Directory</h3>
    <hr>

    <p class="h4 mb-4">Save Client</p>

    <form action="#" th:action="@{/saveClient}" th:object="${client}" method="post">

        <input type="text" required th:field="*{firstName}" placeholder="First Name" class="form-control mb-4 col-4">

        <input type="text" required th:field="*{lastName}" placeholder="Last Name" class="form-control mb-4 col-4">

        <input type="text" required th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4">

        <input type="text" required th:field="*{address}" placeholder="Address" class="form-control mb-4 col-4">

        <input type="text" required th:field="*{age}" placeholder="Age" class="form-control mb-4 col-4">

        <button class="btn btn-info col-2" type="submit">Save</button>
    </form>
    <hr>
    <a th:href="@{/}">Back to Clients list</a>
</div>
</body>
</html>